@import "../assets/fonts.css";

.header {
  height: 5.5vh;
  background-color: #20232a;
  color: #fff;
}

.footer {
  height: 2vh;
  background-color: #20232a;
  color: #fff;
}

.font-body {
  font-family: "Palatino", cursive;
}

.header-body h1 {
  font-size: 1.4rem;
  padding: 0rem;
  margin: 0rem;
}

.header-body {
  padding-top: 1vh;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: middle;
  font-weight: 200;
}

.header-body p {
  font-size: 1.4rem;
}

.header hr {
  margin: 0rem;
  padding: 0rem;
}

.top-content {
  height:45vh;
}

.bottom-content {
  height:45vh;
}

.wiki-page {
  height:45vh;
}

.table-panel {
  height:45vh;
  overflow:auto;
}

/* This makes sure that the context menu does not seem transparent */
.react-contextmenu {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  transition: opacity 250ms ease !important;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(7, 3, 3, 0.15);
}
