/* This class deteremineds the width of selection column */
.super-header-div {
  width: 20vw;
}

.selection-header {
  float: left;
  width: 18vw;
}

.search-icon {
  float: left;
  width: 2vw;
  margin-top: 1vh;
  cursor: pointer;
}

/* The two following classes make the column headers sticky */
.table-fixed {
  width: 100%;
}

.table-fixed thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999;
}
.twenty-vw {
  width: 20vw;
}

/* This makes sure that the context menu does not seem transparent */
.react-contextmenu {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: opacity 250ms ease !important;
  z-index: 5;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(7, 3, 3, 0.15);
}

.color-wrangler {
  color: #ff715b;
}

.list-css {
  cursor: pointer;
}

.list-css li:hover {
  background-color: #fbb0a4;
}

.table-col {
  word-wrap: break-word;
  max-width: 15em;
  padding: 0.3rem !important;
}

.table {
  width: max-content !important;
  table-layout: fixed;
  display: block;
}

.table-head {
  position: sticky;
  width: 20vw;
  /* height: 2vh; */
  top: 0;
  background-color: #a6d8d0;
}

.color-kg {
  color: #a6d8d0;
}

.list-button {
  border: 1px solid #1ea896 !important;
  border-radius: 0.3rem !important;
  padding: 0.3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  text-align: center;
}

.list-button-backgound-pink {
  margin-top: 0rem;
}

.list-with-background {
  background-color: #a6d8d0;
}
.list-with-background:hover {
  background-color: #a6d8d0 !important;
}

/* The following class handles the style for setting modal */

.setting-modal {
  margin-top: 25vh;
  margin-left: 25vw;
  height: 40vh;
  width: 50vw;
  background-color: #fff;
}

/* The following class handles the style for filter modal */

.filter-modal {
  margin-top: 15vh;
  margin-left: 25vw;
  height: 50vh;
  width: 50vw;
  background-color: #fff;
}

.checkbox-list {
  height: 35vh;
  overflow: auto;
}

/* The following class handles the stype for join modal */
.join-modal {
  margin-top: 25vh;
  margin-left: 25vw;
  height: 30vh;
  width: 50vw;
  background-color: #fff;
}

/* The following class handles the divider style between cell preview and cell origin */
.preview-origin-divider {
  border: 5px solid black;
}

/* The following class makes sure that the preview of a column is gray instead of black */
.column-preview-color {
  color: gray;
}

/* The following class is for cards in action panel */
.action-panel-card {
  /* background-color: #a6d8d0; */
  border: double;
  border-color: lightgray;
}

/* This is the class to use for fixed position populate element */
.fixed-populateEle {
  position: fixed;
  background: #a6d8d0;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0px;
}

body.waiting * {
  cursor: wait;
}
